h1 {
    color: burlywood;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.list-element {
    margin-top: 50px;
    text-align: center;
}

.list {
    list-style-type: none;
}