body {
    background-color: azure;
}

.title {
    color: burlywood;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.list-element {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px;
    padding: 20px;
    text-align: center;
}

.list {
    list-style-type: none;
}

img {
    display: block;
    margin: auto;
}

.description,
.ingredients,
.steps {
    margin-left: 100px;
}

.description {
    color:darkgoldenrod;
}

.ingredients {
    color:rgba(238, 14, 51, 0.603);
}

.steps {
    color: firebrick;
}